/* bootstrap overwrite */

body{
    background-color: rgb(38, 38, 38);
    color: lightgray;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: lightgray;
}

.nav-stacked>li>a.active>a, .nav-stacked>li.active>a:focus, .nav-stacked>li.active>a:hover {
    background-color: lightgray;
    color: #555;
}

a{
    color: lightgray;
}

a:hover{
    color: #555;
}

small{
    padding-left: 10px;
}

/* site */

.nav a{
    font-size: 1.5em;
}

.nav-stacked>li{
    border: solid 1px white;
    border-radius: 10px;
    
}

.nav-stacked>li>a{
    border-radius: 10px;
    text-align: center;
}

.menu{
    margin-top: 20px;
    background-color: #777;
    color:black;
}

.nav-stacked>li+li {
    margin-top: 10px;
}

.tab-pane{
    padding-top: 30px;
}

.list-group-item.optionsList{
    display: flex;
}

.list-group-item.optionsList .dropdown{
    margin-left: 30px;
}

.panel-default{
    font-size: 1.25em;
}

.panel-default>.panel-heading, .panel-default>.panel-footer{
    background-color: #777;;
    color: black;
}

btn.btn-default{
    background-color: lightgray;
    color: black;
}

.panel-default>.panel-body{
    color: #555;
    background-color: lightgray;
}


.navbar{
    background-color: #1C1A19;
}

.mainNavbar{
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
    padding-bottom: 20px;
}

.mainNavbar a{
    background-color: rgb(38, 38, 38);
}

.content{
    padding: 5px;
}

.list-group.userList{
    max-width: 65%;
    word-wrap: break-word;
    margin-left: 50px;
}

.modal-title{
    color: black;
    
}
.media-body span{
    float: right;
}

.modal-content{
    background-color: #777;
}

.modal-body{
    background-color: lightgray;
}

.modal-content .modal-body h4{
    color: black;
}

.list-group-item{
    font-size: 0.8em;
    border-radius: 10px;
    margin-top: 10px;
    color: #555;
    background-color: lightgray;
}

.list-group-item.fadeSlideList{
    font-size: 1.25em;
}

.list-group-item:hover{
    background-color: #eee;
    color: black;
    cursor: pointer;
}

#mainContent{
    margin-top: 171px;
}

.contentIcon{
    padding-top: 30px;
}

.thumbnail{
    background-color: lightgray;
    border-radius: 10px;
    margin-right:0px;
}

.thumbnail .caption .list-group .list-group-item{
    background-color: #777;
    color: black;
    font-size: 1.25em;
    border-radius: 10px;
}

.thumbnail .caption .list-group .list-group-item:hover{
    background-color: #eee;
    color: black;
    cursor: pointer;
}

.thumbnail .caption span{
    margin-left: 20px;
}

@media (min-width: 1200px) {
    .nav-tabs{
        margin-top: 119px;
        right: 10px;
        border: none;
        position: absolute;
        
    }
    .nav-tabs > li > a{
    border: solid 1px lightgray;
    border-top: none;
    margin-right: 10px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #1C1A19;
    }
}

.list-group-item span.glyphicon-remove{
    float: right;
}

.list-group-item span.glyphicon-remove:hover{
    color: red;
    cursor: pointer;
}



.alert-success{
    background-color: lightgray;
    color: black;
    opacity: 0.5;
    margin-top: -50px;
}

canvas{
    max-width: 600px;
    max-height: 600px;
    float: left;
    margin: 40px;
}

#usageDoughnut{
    margin-left: 20%;
}

.row{
    margin: 0;
}

/* animations */

.fadeRemoveUser.ng-hide {
  opacity: 0;
}

.fadeRemoveUser.ng-hide-remove,
.fadeRemoveUser.ng-hide-add {
  display: block !important;
}

.fadeRemoveUser.ng-hide-remove {
  transition: all linear 1000ms;
}

.fadeRemoveUser.ng-hide-add {
  transition: all linear 500ms;
}

.fadeSlideList {
  transition: 1s linear opacity, 0s linear background-color;
  -webkit-transition: 1s linear opacity, 0s linear background-color;
}

.fadeSlideList.ng-enter {
  opacity: 0;
}

.fadeSlideList.ng-enter.ng-enter-active {
  opacity: 1;
}

.fadeSlideList.ng-leave {
  opacity: 1;
}

.fadeSlideList.ng-leave.ng-leave-active {
  opacity: 0;
}