
<ul class="list-group">
    <li class="list-group-item" ng-repeat="item in actions">
        <div class="media">
            <a class="pull-left" href="">
                <img class="media-object" src="{{item.thumbnail}}">
            </a>
            <div class="media-body">
                <h4><strong>{{item.action}}</strong></h4>
                <p>{{item.description}}<span>{{item.date | date:'yyyy-MM-dd'}}</span></p>
            </div>
        </div>
    </li>
</ul>
