
<div class="row">
    <div class="col-lg-3">
        <div class="thumbnail">
            <img class="contentIcon" src="img/folder.png">
            <div class="caption">
                <h3>Folders<span class="badge">{{folders.count}}</span></h3>
                <h5>Most recent</h5>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in folders.list">{{item.name}}</li>
                    </ul>
                    <button class="btn btn-default" href="">Browse</button>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="thumbnail">
            <img class="contentIcon" src="img/file.png">
            <div class="caption">
                <h3>Files<span class="badge">{{files.count}}</span></h3>
                <h5>Most recent</h5>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in files.list">{{item.name}}</li>
                    </ul>
                    <button class="btn btn-default" href="">Browse</button>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="thumbnail">
            <img class="contentIcon" src="img/article.png">
            <div class="caption">
                <h3>Articles<span class="badge">{{articles.count}}</span></h3>
                <h5>Most recent</h5>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in articles.list">{{item.name}}</li>
                    </ul>
                    <button class="btn btn-default" href="">Browse</button>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="thumbnail">
            <img  class="contentIcon" src="img/comment.png">
            <div class="caption">
                <h3>Comments<span class="badge">{{comments.count}}</span></h3>
                <h5>Most recent</h5>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in comments.list">{{item.name}}</li>
                    </ul>
                    <button class="btn btn-default" href="">Browse</button>
                </p>
            </div>
        </div>
    </div>
</div>
