<div class="row">
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">Recent actions</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in actions">
                        <div class="media">
                            <a class="pull-left" href="">
                                <img class="media-object" src="{{item.thumbnail}}">
                            </a>
                            <div class="media-body">
                                <h4><strong>{{item.action}}</strong></h4>
                                <p>{{item.description}}<span>{{item.date | date:'yyyy-MM-dd'}}</span></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
            <div class="panel panel-default">
            <div class="panel-heading">Recent articles</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in articles">
                        <div class="media">
                            <a class="pull-left" href="">
                                <img class="media-object" src="{{item.thumbnail}}">
                            </a>
                            <div class="media-body">
                                <h4><strong>{{item.action}}</strong></h4>
                                <p>{{item.description}}<span>{{item.date | date:'yyyy-MM-dd'}}</span></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">Recent comments</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in comments">
                        <div class="media">
                            <a class="pull-left" href="">
                                <img class="media-object" src="{{item.thumbnail}}">
                            </a>
                            <div class="media-body">
                                <h4><strong>{{item.action}}</strong></h4>
                                <p>{{item.description}}<span>{{item.date | date:'yyyy-MM-dd'}}</span></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
            <div class="panel panel-default">
            <div class="panel-heading">Recent files</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in files">
                        <div class="media">
                            <a class="pull-left" href="">
                                <img class="media-object" src="{{item.thumbnail}}">
                            </a>
                            <div class="media-body">
                                <h4><strong>{{item.action}}</strong></h4>
                                <p>{{item.description}}<span>{{item.date | date:'yyyy-MM-dd'}}</span></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>