<div class="row">
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">Basic settings</div>
            <div class="panel-body">
                <div class="list-group">
                    <li class="list-group-item  optionsList">Some settings 1
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                Select
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="">Option 1</a></li>
                                <li><a href="">Option 2</a></li>
                                <li><a href="">Option 3</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-group-item  optionsList">Some settings 2
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                Select
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="">Option 1</a></li>
                                <li><a href="">Option 2</a></li>
                                <li><a href="">Option 3</a></li>
                            </ul>
                        </div>
                    </li>
                </div>
            </div>
             <div class="panel-footer">
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">Save</button>
                <button class="btn btn-default">Reset</button>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
            <div class="panel panel-default">
            <div class="panel-heading">Limits</div>
            <div class="panel-body">
                 <div class="checkbox">
                    <label>
                        <input type="checkbox"> Some settings 1
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Some settings 2
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Some settings 3
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Some settings 4
                    </label>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">Save</button>
                <button class="btn btn-default">Reset</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">Content</div>
            <div class="panel-body">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Option 1
                    </label>
                    </div>
                    <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Option 2
                    </label>
                    </div>
                    <div class="radio disabled">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                        Option 3
                    </label>
                </div>
            </div>
             <div class="panel-footer">
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">Save</button>
                <button class="btn btn-default">Reset</button>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
            <div class="panel panel-default">
            <div class="panel-heading">Statistics</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Option 1
                    </label>
                    </div>
                    <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Option 2
                    </label>
                    </div>
                    <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                        Option 3
                    </label>
                </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Some settings 1
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Some settings 2
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">Save</button>
                <button class="btn btn-default">Reset</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
        <!-- Nagłówek -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Save settings</h4>
            </div>
        <!-- Treść -->
            <div class="modal-body">
                <h4>Are you sure you want to save the settings?</h4>
            </div>
        <!-- Stopka -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>