<ul class="list-group userList">
    <div class="alert alert-success userRemovedAlert fadeRemoveUser" ng-style="{'visibility': userRemoved ? 'visible' : 'hidden'}">User removed successfully</div>
    <li ng-repeat="user in userList" class="list-group-item fadeSlideList">{{user.firstName}} {{user.lastName}}  ({{user.email}}) 
        <span ng-click="removeUser(user)" class="glyphicon glyphicon-remove"></span>
    </li>
</ul>